.main {
  margin-top: 10px;
}
.textCustomGender {
  color: #606770;
  font-size: 12px;
}
.customGender_input {
  width: 375px;
  height: 16px;
  padding: 11px;
  background-color: #f5f6f7;
}
.customGender_input:focus {
  outline: none;
}
.customGender_label {
  left: 12px;
}

.customGender_main {
  padding: 8px 0;
}
.selectCustomGender {
  margin: 13px 0 4px 0;
  width: 400px;
  height: 36px;
}
