.main {
  font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.main_link {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  color: black;
  text-decoration-line: none;
}
.main_link:hover {
  text-decoration-line: underline;
}
.main_paragraph {
  font-size: 0.9rem;
}
