.classNomal {
  text-decoration-line: none;
  margin-right: 20px;
  color: #8a8d91;
  margin-top: 5px;
}
.classNomal:hover {
  text-decoration-line: underline;
}
.lineOne {
  display: flex;
  flex-wrap: wrap;
}
.lineTwo {
  display: flex;
  flex-wrap: wrap;
}
.textFacebook {
  margin-top: 25px;
  color: #737373;
}
