.text {
  display: flex;
  align-items: center;
  color: #606770;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 2px;
}
.text_instruction {
  text-indent: 3.4px;
  line-height: 14px;
  color: white;
  width: 14px;
  height: 14px;
  margin-left: -3px;
  border-radius: 50%;
  background-color: rgb(94, 90, 90);
  cursor: pointer;
  user-select: none;
}
#textData {
  position: relative;
  left: 10000px;
  width: 0;
  height: 0;
}
#textData:focus + p {
  color: #65676b;
  background-color: white;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 10px rgb(0 0 0 / 35%);
  transition: 0.15s linear;
  user-select: auto;
}
#textData:focus + p a {
  color: #1877f2;
  text-decoration-line: none;
}
.paragraph {
  position: fixed;
  top: 250px;
  left: -322px;
  width: 322px;
  padding: 12px;
  color: rgba(255, 255, 255, 0);
  font-size: 13px;
  line-height: 16px;
  cursor: context-menu;
  transition: 0.15s linear;
  user-select: none;
  z-index: 10;
}
.paragraph a {
  color: rgba(255, 255, 255, 0);
}
