.textErr {
  top: 150%;
  transform: translateX(0%);
}
.arrow {
  position: absolute;
  top: 110% !important;
  left: 5%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -59px;
  height: 11px;
  top: 7px;
  width: 22px;
}
