.background {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1080px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.main {
  position: fixed;
  margin-top: 150px;
  padding: 16px;
  box-sizing: border-box;
  width: 400px;
  background-color: white;
}
.avatar {
  display: block;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 50px auto 5px auto;
  background-color: #ebedf0;
}
.passwordInput {
  width: 334px !important;
}
.logInButton {
  height: 40px;
  margin: 12px 0;
}
.logInButtonText {
  font-size: 17px;
  line-height: 40px;
}
