.main {
  padding: 16px;
}
.main_sendRequest {
  display: block;
  width: 194px;
  background: none;
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
  text-shadow: none;
  margin: 20px auto 10px auto;
  outline: none;
}
.textButton {
  font-size: 18px;
}
