.main {
  padding-top: 6px;
}
.button {
  display: flex;
  align-items: center;
  outline: none;
  margin: 0 auto;
  width: 195px;
  padding: 0 16px;
  background-color: #42b72a;
}
.button:hover {
  background-color: #2da714;
}
.text {
  display: block;
  font-size: 1.05rem;
}
