.mainFields {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* test */
}

.warningImg {
  position: absolute;
  top: -20px;
  right: 25px;
}
.textErr {
  position: absolute;
  top: 0;
  transform: translateX(-105%);
  z-index: 2;
  font-size: 13px;
  max-width: 300px;
  background-color: #be4b49;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgb(139 3 0 / 75%), 0 1px 10px rgb(0 0 0 / 35%);
  color: #fff;
  line-height: 1.34;
  color: white;
  padding: 13px;
}
.arrowImg {
  position: absolute;
  top: 0;
  left: -17px;
  transform: translateY(50%);
  z-index: 2;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/f0yB9tClty7.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -36px;
  height: 22px;
  width: 11px;
}
