.input_top_flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 0.94rem;
}
.input_top_child {
  width: 170px;
  height: 16px;
  padding: 11px;
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
}
.input_top_child:focus {
  outline: none;
  border-color: #ccd0d5;
}
.input_top_child_label {
  left: 12px;
}
.input_top_child_main {
  padding: 0;
}
.white_B {
  background-color: white !important;
}
.input_top_child_img {
  right: 12px;
}
