.main {
  font-size: 0.94rem;
  padding-bottom: 10px;
}
.main_input {
  width: 375px;
  height: 16px;
  padding: 11px;
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
}
.main_input:focus {
  outline: none;
}
.main_input_label {
  left: 12px;
}
.main_input_classMain {
  padding: 0px;
}
.main_input_classImg {
  right: 12px;
}
.textErr {
  left: 20px;
}
