.main {
  width: 500px;
  /* width: 28.1668%; */
  /* width: 28.2268%; */
  margin-right: 48px;
}
.main_textOne {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}
.main_textTwo {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.textNoneRecentAcc {
  font-size: 28px;
  line-height: 32px;
  width: auto;
  font-weight: normal;
}
.logoFb {
  height: 70px;
  margin: -12px 0 0 -20px;
}
@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
    margin: 0;
  }
  .logoFb {
    margin: 0;
  }
  .main_textOne {
    font-size: 24px;
    line-height: 28px;
  }
  .textNoneRecentAcc {
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 1060px) {
  .textNoneRecentAcc {
    font-size: 24px;
    line-height: 28px;
    width: 368px;
  }
}
