.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 130px;
  height: 34px;
  line-height: 32px;
  border: 1px solid #ccd0d5;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
}
.input {
  position: absolute;
  right: 10px;
  outline: none;
}
