.friend {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 6px;
  border-radius: 10px;
  height: 44px;
  cursor: pointer;
  user-select: none;
}
.friend:hover {
  background-color: #e2e2e2;
}
.friend:active {
  transform: scale(0.99);
}
.friend_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #c7c7c7;
}
.friend_avatar_alive {
  position: absolute;
  top: 25px;
  left: 29px;
  width: 9px;
  height: 9px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.friend_theyName {
  color: black;
  font-size: 0.9375rem;
  font-weight: 500;
}
