.main {
  display: block;
  text-align: center;
  font-family: sans-serif;
  color: #1877f2;
  font-size: 14px;
  margin-top: 16px;
  text-decoration: none;
}
.main:hover {
  text-decoration: underline;
}
.line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 0;
  text-align: center;
}
