.main {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 6px 0 12px 0px;
  text-align: center;
}
.line {
  margin: 6px 0 6px -16px;
  width: 400px;
  background: #dadde1;
  border-width: 0;
  color: #dadde1;
  height: 1px;
}
