.x {
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 1.6rem;
  color: rgb(43, 43, 43);
  text-align: center;
  line-height: 36px;
  background-color: #ebedf0;
  cursor: pointer;
}
.x:hover {
  background-color: #dfdfdf;
}
