.invisibleAlign {
  margin-top: 40px;
  width: 396px;
  height: 456px;
}
.card {
  padding: 10px 15px 24px 15px;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .invisibleAlign {
    margin-top: 0px;
  }
}
