.main_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 8px 0 0 0;
}
.button {
  width: 30px;
  height: 20px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 2px;
  font-size: 1rem;
  line-height: 15px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  cursor: pointer;
}
